<div id="what-we-do" style="display:none;">
	<div style="margin: auto">
		<div class="inline listContainer">
			<h2>{{ config["what-we-do"]["heading1"] }}</h2>
			<ul>
				{% for string in config["what-we-do"]["list1"] %}
					<li>{{ string }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="inline listContainer">
			<h2>{{ config["what-we-do"]["heading2"] }}</h2>
			<ul>
				{% for string in config["what-we-do"]["list2"] %}
					<li>{{ string }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<p style="font-size:16px;">{{ config["what-we-do"]["text"] }}</p>
	
	<h2>{{ config["what-we-do"]["recent-clients-heading"] }}</h2>
	<div class="items">
		{% for string in config["what-we-do"]["recent-clients"] %}
			<div class="item">{{ string }}</div>
		{% endfor %}
	</div>
</div>
