{% extends "admin/edit-base.twig" %}

{% block formAction %}<!-- Todo -->{% endblock %}
{% block pageTitle %}{{ chosenGallery.displayName }}{% endblock %}

{% block editForm %}
	<input type="hidden" name="chosenGalleryId" value="{{ chosenGalleryId }}"></input>

  {% for i in 0..(chosenGallery.photos|length)-1 %}
    <img src="{{chosenGallery.photos[i].thumbnailUrl}}" style="display:block;"/>
    
    <div class="label">Caption:</div>
		<input type="text" name="" value="{{ chosenGallery.photos[i].caption }}"></input>
		<div class="clearfix"></div>
		
		<div class="label">Sub caption:</div>
		<input type="text" name="" value="{{ chosenGallery.photos[i].subcaption }}"></input>
		<div class="clearfix"></div>

    <br />

  {% endfor %}

{% endblock %}
