{% extends "admin/edit-base.twig" %}

{% block formAction %}/edit-portfolio{% endblock %}
{% block pageTitle %}Portfolio{% endblock %}

{% block editForm %}
		
		{% for i in 1..7 %}
			<div class="label">Gallery {{ i }}:</div>
			<input type="text" maxlength="50" name="galleries[{{i}}][displayName]" value='{{ strings["galleries"][i]["displayName"] }}'></input>
			<button style="display:inline; margin:5px;" form="gallery_{{ i }}_form" type="submit">Edit Images</button>
			<div class="clearfix"></div>
			
		{% endfor %}

		</fieldset>
	</form>
	
	{% for i in 1..7 %}
		<form id="gallery_{{ i }}_form" action="/edit-gallery" method="post">
			<input type="hidden" name="gallery_id" value="{{ i }}"></input>
		</form>
	{% endfor %}	

	<form style="display:none;">
		<fieldset>
{% endblock %}
