{% extends "admin/edit-base.twig" %}

{% block formAction %}/edit-gallery{% endblock %}
{% block pageTitle %}{{ galleries[chosenGalleryId].displayName }}{% endblock %}

{% block editForm %}
	<input type="hidden" name="chosenGalleryId" value="{{ chosenGalleryId }}"></input>

  {% for image in galleries[chosenGalleryId].photos %}
    <div style="text-align:center;">
    	<img src="{{ image.thumbnailUrl }}" style="display:inline; vertical-align: middle;"/>
  		<button style="display:inline-block; float:none;" form="image_{{ image.id }}_del_form" type="submit">Delete Image</button>
  	</div>
    <div class="clearfix"></div>

    <div class="label">Caption:</div>
		<input type="text" name="images[{{ image.id }}][caption]"value="{{ image.caption }}"></input>
		<div class="clearfix"></div>
		
		<div class="label">Sub caption:</div>
		<input type="text" name="images[{{ image.id }}][sub]" value="{{ image.subcaption }}"></input>
		<div class="clearfix"></div>

    <br />

  {% endfor %}

	</fieldset>
</form>
	
{% for image in galleries[chosenGalleryId].photos %}
	<form id="image_{{ image.id }}_del_form" action="/delete-image" method="post">
		<input type="hidden" name="gallery_id" value="{{ chosenGalleryId }}"></input>
		<input type="hidden" name="image_id" value="{{ image.id }}"></input>
	</form>
{% endfor %}	

<form style="display:none;">
	<fieldset>
{% endblock %}
